//------------------------------------
//### BOOKING FORM - PARIS TENNIS ###
//------------------------------------

#form {
  background: white;
  border-radius: 3px;
  margin-top: 50px;
}


//--------
// WHERE
//--------

#form-where {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-where-option {
  width: 30%;
  padding: 10px;
  text-align: center;
  border: 1px solid $green;
  border-radius: 3px;
  &:hover, &:active, &:focus {
    text-decoration: none;
  }
}

.form-where-option-selected {
  color: $white;
  background: $green;
  &:hover, &:active, &:focus {
    color: $white;
    text-decoration: none;
  }
}

// COMMON TO ALL SELECT
.select2-results__option--highlighted {
  background: $green !important;
}

.select2-selection__placeholder {
  color: $green !important;
}

// SELECT TENNIS
#tennisArrond + span .select2-selection--single {
  display: flex;
  align-items: center;
  min-height: 42px;
  max-height: 42px;
  overflow-y: auto;
}

#tennisArrond + span .select2-selection__arrow {
  top: 8px;
  right: 10px;
}

// SELECT ARDTS
#arrondissement + span .select2-selection--multiple {
  display: flex;
  align-items: center;
  min-height: 42px;
  max-height: 42px;
  overflow-y: auto;
}

#arrondissement + span .select2-selection--multiple .select2-selection__choice {
  color: white;
  font-weight: bold;
  background: $green;
  border: 2px solid white;
  margin-top: 0px;
}

#arrondissement + span .select2-selection--multiple .select2-selection__choice__remove {
  color: white;
}

#arrondissement + span .select2-selection--multiple .select2-search--inline {
  display: none;
}

//--------
// WHEN
//--------

#form-date, #form-hour {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.form-date-option, .form-hour-option {
  padding: 20px 30px;
  text-align: center;
  &:hover, &:active, &:focus {
    text-decoration: none;
  }
  p {
    margin: 0px;
  }
}

.form-date-option-selected, .form-hour-option-selected {
  color: white;
  background: $green;
  border-radius: 3px;
  &:hover, &:active, &:focus {
    text-decoration: none;
    color: white;
  }
}

//--------
// MORE OPTIONS
//--------

#form-more {
  margin-top: 25px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

// CHECKBOX
.form-more-checkbox {
  display: flex;
  align-items: center;
  align-items: left;
  &:hover, &:active, &:focus {
    text-decoration: none;
  }
}

// SURFACE
#revetement + span.select2-container {
  min-width: 180px;
}

#revetement + span .select2-selection--single {
  border: 1px solid $green;
}

#revetement + span .select2-selection__rendered {
  color: $green;
}

//--------
// SUBMIT
//--------

#form-submit {
  height: 100px;
  width: 100%;
}

#form-submit-button {
  text-align: center;
  color: $white;
  background: $green;
  border: 1px solid $green;
  border-radius: 3px;
  height: 60%;
  width: 100%;
}



