//------------------------------------
//### BOOKING FORM - PARIS TENNIS ###
//------------------------------------

#form {
  background: white;
  border-radius: 3px;
  margin: auto;
  max-width: 720px;
  padding: 30px;
  box-shadow: 4px 6.928px 28.5px 1.5px rgba(0,0,0,0.18);
}

.form-area {
  display: flex;
  flex-flow: row nowrap;
  align-items: space-around;
  justify-content: space-between;
  height: 80px;
  margin-bottom: 40px;
  .form-area-intro {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    img {
      width: 40px;
      margin-right: 10px;
    }
  }
}

//--------
// WHERE
//--------

// #form-where {
//   height: 80px;
// }

#form-where-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.form-where-option {
  width: 45%;
}

#form-where-separator {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  color: $green;
}

// COMMON TO ALL SELECT
.select2-results__option--highlighted {
  background: $blue-dark !important;
}

.select2-selection__placeholder {
  color: $blue-dark !important;
}

.select2-dropdown {
  border: 1px solid $grey-lighter;
}

// SELECT TENNIS
#tennisArrond + span .select2-selection--single {
  display: flex;
  align-items: center;
  min-height: 42px;
  max-height: 42px;
  overflow-y: auto;
  border: 1px solid $grey-lighter;
}

#tennisArrond + span .select2-selection__arrow {
  top: 8px;
  right: 10px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: $blue-dark transparent transparent transparent;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent $blue-dark transparent;
}

// SELECT ARDTS
#arrondissement + span .select2-selection--multiple {
  display: flex;
  align-items: center;
  min-height: 42px;
  max-height: 42px;
  overflow-y: auto;
}

#arrondissement + span .select2-selection--multiple .select2-selection__choice {
  color: white;
  font-weight: bold;
  background: $green;
  border: 2px solid white;
  margin-top: 0px;
}

#arrondissement + span .select2-selection--multiple .select2-selection__choice__remove {
  color: white;
}

#arrondissement + span .select2-selection--multiple .select2-search--inline {
  display: none;
}

//--------
// WHEN
//--------

// #form-date, #form-hour {
//   height: 80px;
// }

#form-date-options, #form-hour-options {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 100%;
}

.form-date-option, .form-hour-option {
  color: $blue-dark;
  padding: 10px 20px;
  text-align: center;
  &:hover, &:active, &:focus, &:visited {
    text-decoration: none;
    background: $grey-lighter;
  }
  p {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
  }
  span {
    font-size: 12px;
    color: $green;
    font-weight: 600;
  }
}

.form-date-option-selected, .form-hour-option-selected {
  background: $grey-lighter;
  border-radius: 3px;
  &:hover, &:active, &:focus, &:visited {
    text-decoration: none;
    background: $grey-lighter;
  }
}

//--------
// PREFS
//--------
// #form-prefs {
//   height: 70px;
// }

#form-prefs-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

// CHECKBOX
.form-prefs-checkbox {
  display: flex;
  align-items: center;
  align-items: left;
  &:hover, &:active, &:focus, &:visited {
    text-decoration: none;
  }
}

// SURFACE
#revetement + span.select2-container {
  min-width: 180px;
}

#revetement + span .select2-selection--single {
  border: 1px solid $green;
}

#revetement + span .select2-selection__rendered {
  color: $green;
}

//--------
// SUBMIT
//--------

#form-submit-button {
  color: $white;
  background: $green;
  border: 1px solid $green;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  font-size: 20px;
  border-radius: 3px;
  height: 50px;
  width: 100%;
}



