#home-header {
  position: absolute;
  background: $green;
  border-radius: 6px;
  margin: auto;
  max-width: 1000px;
  height: 500px;
  padding: 50px 30px;
  // box-shadow: 4px 6.928px 28.5px 1.5px rgba(0,0,0,0.18);
}
