.navbar-logo {
  width: 60px;
  max-height: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

.navbar-separator {
  color: $green;
}

#navbar-reservation-count {
  display: flex;
  align-items: center;
  background: $green;
}
