.navbar-logo {
  width: 60px;
  max-height: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

.navbar-separator {
  color: $green;
}

#navbar-reservation-count {
  display: flex;
  align-items: center;
  background: $green;
}

.overlay {
  // background-color: $green;
  position: fixed;
  z-index: 120;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  display: none;
  overflow: hidden;
  text-align: left;
}

.overlay nav {
  perspective: 1200px;
  height: 100%;
}
.overlay ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 500px;
  max-width: 100%;
  left: 50%;
  top: 50%;
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}
.overlay li {
  border-bottom: 1px solid #fff;
  position: relative;
  padding: 0;
}
.overlay a {
  font-size: 40px;
  line-height: 40px;
  display: block;
  color: #fff;
  text-transform: uppercase;
  padding: 8px 0;
  text-decoration: none;
}
