.navbar {
  background: $white;
}

.navbar-contents {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar-item {
  color: $blue-dark;
  text-transform: uppercase;
  font-weight: $weight-bold;
}

.navbar-logo {
  max-width: 50px;
  align-self: center;
}

#navbar-reservation-count {
  display: flex;
  align-items: center;
  background: $green;
}
