.overlay {
  // background-color: $green;
  position: fixed;
  z-index: 120;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  display: none;
  overflow: hidden;
  text-align: left;
}

.overlay nav {
  perspective: 1200px;
  height: 100%;
}
.overlay ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 500px;
  max-width: 100%;
  left: 50%;
  top: 50%;
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}
.overlay li {
  border-bottom: 1px solid #fff;
  position: relative;
  padding: 0;
}
.overlay a {
  font-size: 40px;
  line-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  text-transform: uppercase;
  padding: 8px 0;
  text-decoration: none;
  &.close-toggler {
    justify-content: center;
    .fa {
      font-size: 60px;
    }
  }
}

#overlay-libelleReservation {
  color: $white;
  font-size: 24px;
  margin: 20px 0;
}

.warning-active-booking {
  font-size: 30px;
  margin-left: 20px;
}
