.results-by-venue {
  margin: 30px 0;
}

.results-by-hour {
  display: flex;
  align-items: center;
}

.results-hour {
  font-weight: bold;
}

.result-court-number {
  display: inline-flex;
  padding-left: 24px !important;
  padding-right: 24px !important;
  margin: 5px 2px;
}

.tag {
  color: white;
}

.result-court-number-1 {
  background: $blue;
}

.result-court-number-2 {
  background: $green;
}

.result-court-number-3 {
  background: $yellow;
}

.result-court-number-4 {
  background: $orange;
}

.result-court-number-5 {
  background: $teal;
}

.result-court-number-6 {
  background: $purple;
}

.result-court-number-7 {
  background: $pink;
}

.result-court-number-8 {
  background: $aqua;
}

.result-court-number-9 {
  background: $mint;
}

.result-court-number-10 {
  background: $ruby;
}

.result-court-number-11 {
  background: $brown;
}

.result-court-number-12 {
  background: $blue-light;
}

.result-court-number-13 {
  background: $green-light;
}

.result-court-number-14 {
  background: $yellow-light;
}

.result-court-number-15 {
  background: $orange-light;
}

.result-court-number-16 {
  background: $teal-light;
}

.result-court-number-17 {
  background: $purple-light;
}

.result-court-number-18 {
  background: $pink-light;
}

.result-court-number-19 {
  background: $aqua-light;
}

.result-court-number-20 {
  background: $mint-light;
}

.result-court-number-21 {
  background: $ruby-light;
}
